/* You can add global styles to this file, and also import other style files */
h1, h2 {
  /* font-family: "Letter Gothic Std"; */
  font-weight: bold;
}

body {
  background-image: url('assets/listar-background7.png');

  background-attachment: fixed;
  background-size:cover;
  background-position: center;
}
